@import "header";

$red: #f44236;
$green: #29BF12;

// 1ый вариант
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
}

// efefefefefefefef
*{
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}


.TVInterfaceWrapper {
  overflow: visible !important;
    font-family: "GT EEsti", sans-serif;
}

.TVInterfaceWrapper .TVSearchButton {
  font-weight: 400 !important;
    font-family: "GT EEsti", sans-serif;
  // border-radius: 30px;
}


.TVMainFilterButton {
  font-weight: 400 !important;
    font-family: "GT EEsti", sans-serif;
}
.TVMainFilter {
  overflow: visible !important;
}


.TVHotTours .TVTheme2 {
  width: 1300px;
}


.TVHotTours.TVTheme2 .TVHotMainColor-ES {
  font-family: "GT Eesti", sans-serif;
}

.button {
 font-size: 16px;
  background: $red;
  // border-radius: 30px;
  width: 150px;
  height: 40px;
  padding: 0;
  border: none;
  color: white;
  // text-transform: uppercase;.
  // font-family: 'Open Sans', sans-serif;
  font-family: "GT EEsti", sans-serif;
  line-height: 40px;
  text-align: center;
  transition: .3s ease-in-out;

  &:hover{
    background: #29BF12;
  }
}

.scroll-item {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  // background: blue;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
object-fit: fill;
height: 100vh;
}


.first {
  height: 100vh;
}

.intro {
  height: 25%;
  color: white;
  width: 80%;
position: absolute;
top: calc(25% + 100px);
left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // font-family: 'Ubuntu Condensed', sans-serif;
  font-family: "GT EEsti", sans-serif;
}

.intro__title {
      font-family: "GT EEsti", sans-serif;
  // font-family: "wichita";
  // font-family: "Merriweather";
  font-weight: 500;
  font-size: 50px;
}

.intro__text {
  font-size: 20px;
}

.intro__button{
  // align-self: flex-end;
}


.second {
  height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background: #f5f5f5;
    // background: url('../assets/bg1.png');
    // background: #46bd8d;
    // justify-content: space-around;


  .section__content {
    height: calc(100% - 250px);
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
  }

  .destination {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "GT Eesti", sans-serif;
    // font-family: "Open Sans";
    font-size: 24px;

  }
  .destination:first-of-type{
    background: url('../assets/dubai.jpg');
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .destination:nth-of-type(2) {
    background: url('../assets/thailand.jpg');
    background-size: cover;
  }
  .destination:nth-of-type(3) {
    background: url('../assets/fall.jpg');
    background-size: cover;
  }
  .destination:nth-of-type(5) {
    background: url('../assets/fall.jpg');
    background-size: cover;
  }
  .destination:nth-of-type(4) {
    background: url('../assets/egypt.jpg');
    background-size: cover;
  }
}



.third {
  min-height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   background: url('../assets/bg.jpg');
   background-size: cover;
   // background: rgba(228, 233, 237, 1b);
   // background: #D3D3D3;
//    filter: grayscale(23%) blur(2px) opacity(1) brightness(81%) contrast(100%);
// -webkit-filter: grayscale(23%) blur(2px) opacity(1) brightness(81%) contrast(100%);

   .section__content {
     width: 80%;
     height: calc(100% - 100px);
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
   }
   .button {
     margin-top: 50px;
     margin-bottom: 55px;
   }

  //  &:before{
  //    content: "";
  // position: absolute;
  // top: 0; left: 0;
  // width: 100%; height: 100%;
  // background-image: url('../assets/fall.jpg');
  // filter: grayscale(100%);
  //  }
}


.section__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  // font-family: 'Open Sans', sans-serif;
  font-family: "GT Eesti", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.fourth {
  background: url('../assets/bg.png');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.fifth {
  height: 150vh;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  align-items: center;
  justify-content: space-between;

  .image {
    height: 75%;
    width: 45%;
    background: url('../assets/dubai.jpg')
  }
}

  .visas-info {
    width: 40%;
    height: 30%;
    background: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
    padding-top: 30px;

  }

  .info__title{
    font-size: 40px;
    font-weight: 700;
    font-family: "GT Eesti", sans-serif;
  }

  .info__text {
    font-family: "GT Eesti", sans-serif;
    font-size: 24px;
  }
